{{ define "main" }}
<!-- HOME PAGE -->
<div class="container" role="main">
    <!-- Top paragraph -->
    <p>THIS IS THE WEBSITE of Nathan Barry, a Computer Science and Mathematics major at UT Austin. There are many like it, but this one is mine.</p>
    <blockquote>"I believe that a man should strive for only one thing in life, and that is to have a touch of greatness"— <cite>Félix Martí-Ibáñez</cite></blockquote>
    <br> 
    <br> 

    <!-- Top -->
    <div class="tag-columns">
        <!-- Custom first column -->
        <div class="tag-column">
            <h3>Personal</h3>
            <hr>
            <h5 class="list-link"><a class="no-underline" href="/pages/about-me">&#x2727;&nbsp; About Me</a></h5>
            <h5 class="list-link"><a class="no-underline" href="https://github.com/nathan-barry">&#x2751;&nbsp; Github</a></h5>
            <h5 class="list-link"><a class="no-underline" href="https://www.linkedin.com/in/nathanrs/">&#x2751;&nbsp; LinkedIn</a></h5>
        </div>

        <!-- Recent -->
        <div class="tag-column">
            <h3>Recent</h3>
            <hr>
            {{ $filteredPages := where .Site.RegularPages "Type" "posts" }}
            {{ range first 2 (sort $filteredPages "Date" "desc") }}
                <h5 class="list-link"><a class="no-underline" href="{{ .RelPermalink }}">&#x2727;&nbsp; {{ .Title }}</a></h5>
            {{ end }}
        </div>

        <!-- Primary Blog Posts -->
        {{ range $name, $pages := .Site.Taxonomies.tags }}
            {{ if not (in (slice "life" "misc") $name) }}
            <div class="tag-column">
                <h3>{{ $name | humanize | title }}</h3>
                <hr>
                {{ range .Pages }}
                <h5 class="list-link"><a class="no-underline" href="{{ .RelPermalink }}">&#x2727;&nbsp; {{ .Title }}</a></h5>
                {{ end }}
            </div>
            {{ end }}
        {{ end }}

        <!-- Secondary Blog Posts -->
        {{ range $name, $pages := .Site.Taxonomies.tags }}
            {{ if (in (slice "life" "misc") $name) }}
            <div class="tag-column">
                <h3>{{ $name | humanize | title }}</h3>
                <hr>
                {{ range .Pages }}
                <h5 class="list-link"><a class="no-underline" href="{{ .RelPermalink }}">&#x2727;&nbsp; {{ .Title }}</a></h5>
                {{ end }}
            </div>
            {{ end }}
        {{ end }}
    </div>

    <br>
    <br>
    <p class="text-center">&#x2735; &#x2735; &#x2735;</p>
    <br>
    
    <!-- Notes -->
    <div class="tag-columns">
        {{ range $name, $pages := .Site.Taxonomies.categories }}
        <div class="tag-column">
            <h3>{{ $name | humanize | title }}</h3>
            <hr>
            {{ range .Pages }}
            <h5><a class="no-underline" href="{{ .RelPermalink }}">&#x2727;&nbsp; {{ .Title }}</a></h5>
            {{ end }}
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
