{{ define "main" }}
<div class="container" role="main">
    <div class="posts-list">

    <!-- Title -->
    <h5>Tag: {{ .Title }}</h5>

    {{ $name := .Title }}
    <!-- List All Posts -->
    {{ range sort .Data.Pages }}
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        {{ $wordCount := len (split .Content " ") }}
        {{ if and .Date (gt $wordCount 20) }}
          {{ $readingTime := div $wordCount 150 }}
          <p><i>
            {{ .Date.Format "January, 02 2006" }} &bull; 
            {{ $readingTime }} min read &bull; 
            {{ $wordCount }} words
            {{ if ne .Date.Unix .Lastmod.Unix }}
              &bull; Updated {{ .Lastmod.Format "January, 06 2006" }}
            {{ end }}
          </i></p>
        {{ end }}
        <p>{{ .Description }}</p>
    {{ end }}
    </div>
</div>
{{ end }}
