{{ define "main" }}
  <div class="container" role="main">
    <article class="article">

      <!-- Title -->
        {{ $title := .Title }}
        {{ with index .Params.tags 0 }}
            <h1><a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{ $title }}</a></h1>
        {{ end }}
        {{ if .Date }}
          {{ $wordCount := len (split .Content " ") }}
          {{ $readingTime := div $wordCount 150 }}
          <p class="text-center"><i>
            {{ .Date.Format "January, 02 2006" }} &bull; 
            {{ $readingTime }} min read &bull; 
            {{ $wordCount }} words
            {{ if ne .Date.Unix .Lastmod.Unix }}
              &bull; Updated {{ .Lastmod.Format "January, 06 2006" }}
            {{ end }}
          </i></p>
        {{ end }}
      <h6 class="text-center">{{ .Params.description }}</h6>
      <br>


      <!-- Content -->
      {{ .Content }}

      <br>
      <!-- Bottom Tags -->
      <div class="blog-tags">
        Tags: 
        {{ range .Params.tags }}
        <a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{ . }}</a>&nbsp;
        {{ end }}
      </div>
    </article>
  </div>
{{ end }}
