/*
  You can add custom styles here.
  It could be plugins:
    @import "plugins/numbered";
    @import "plugins/scrollbars";
  Or custom styles:
    body { background: white; }
  Or even theme mixins:
    @mixin theme-light {
      --body-background: white;
      --body-font-color: black;
      ...
    }
*/

// Make KaTeX responsive on mobile
.katex-display {
    overflow-x: auto;
    overflow-y: hidden;
}

.katex {
    font-size: 1em !important;
}
