/*
  You can add custom styles here.
  It could be plugins:
    @import "plugins/numbered";
    @import "plugins/scrollbars";
  Or custom styles:
    body { background: white; }
  Or even theme mixins:
    @mixin theme-light {
      --body-background: white;
      --body-font-color: black;
      ...
    }
*/

html.light-mode {
    @include theme-light;

    .chroma,
    .bg {
        background-color: var(--gray-100) !important;
    }
}

.book-menu a,
.book-menu label,
.book-menu strong {
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }
}

.theme-toggle {
    cursor: pointer;
    background: none;
    border: none;
    font-size: var(--font-size-smaller);
    font-family: inherit;
    color: inherit;
    opacity: 0.7;
    padding: 0;

    &:hover {
        opacity: 1;
    }
}

.markdown a[href] {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 3px;

    &:hover {
        text-decoration-style: solid;
    }
}

.sidebar-logo img,
.mobile-logo img {
    filter: var(--icon-filter);
}

html:not(.light-mode) .markdown img[src$=".gif"] {
    filter: invert(0.92);
}

.Typewriter__cursor {
    font-size: 1.25em;
    vertical-align: -0.1em;
    position: relative;
    left: -0.2em;
}

// Make KaTeX responsive on mobile
.katex-display {
    overflow-x: auto;
    overflow-y: hidden;
}

.katex {
    font-size: 1em !important;
}
