.markdown {

  // Emitted by the blockquote render hook (layouts/_markup/render-blockquote.html)
  .book-hint {
    @each $name in (note, tip, important, warning, caution, default, info, success, danger) {
      &.#{$name} {
        border-color: var(--color-accent-#{$name});
        background-color: var(--color-accent-#{$name}-tint);
      }
    }
  }

  // Emitted by the codeblock render hook (layouts/_markup/render-codeblock.html)
  .book-codeblock-filename {
    background: var(--gray-100);
    border: $padding-1 solid var(--gray-200);
    border-bottom: 0;
    font-size: var(--font-size-smaller);
    margin-top: $padding-16;
    padding: $padding-4 $padding-8;
    border-start-start-radius: var(--border-radius);
    border-start-end-radius: var(--border-radius);

    a {
      color: var(--body-font-color);
    }

    + .highlight pre {
      margin-top: 0;
      border-start-start-radius: 0;
      border-start-end-radius: 0;
    }
  }
}
